#page {
  margin: 0;
  width: 90%;
  background: none;
}

#page #header {
  background-color: transparent;
}

#page #colLeft {
  width: 20%;
  padding: 0 25px;
  text-align: center;
}

#page #colLeft > table {
  margin-bottom: 20px;
  background: white;
  border: 1px solid #B1D0F0;
}

#page #colRight {
  padding-right: 10px;
}

#page #colRight > table {
  background-color: #B1D0F0;
}

.blog-item {
  padding: 10px 0;
}

#blog > tbody > tr > td {
  padding-left: 30px;
}

#blogTitle,
#blogMood {
  padding: 0;
}

#blogContent {
  padding: 10px 0;
}

#blogContent table {
  margin: 10px;
}

#blogContent table td {
  font-size: 1.5em
} 

#blog #blogDate {
  padding-left: 5px;
}

#listening {
  font-size: 11px;
  line-height: 14px;
}

#listening img {
  float: left;
  width: 60px;
  margin-right: 5px;
}
