<p>Tapes are the currency of this universe. VHS tapes, music casettes, whatever you want to imagine.</p>

<p>You gain 1 Tape for each hour you spend with Richard...as a reward I guess. There are also other ways to win tapes, which I talk about below.</p>

<p><b>Using Tapes</b></p>

<p>Right now tapes are only used for playing reaction clips on stream. Check out that blog post for details.</p>

<p><b>Blockbuster Runs</b></p>

<p>When blockbuster is open, I can take you to turn in, and possibly find more, tapes. If you happen to find tapes, you will double the amount you took with you.</p>

<table>
  <tr>
    <td>Command:</td>
    <td>!blockbuster [# of tapes]</td>
  </tr>
  <tr>
    <td>Example:</td>
    <td>!blockbuster 5</td>
  </tr>
  <tr>
    <td>Cooldown:</td>
    <td>20 min</td>
  </tr>
</table>