<span class="username"><%= name %></span><br/>
<div class="profile-pic" style="
  width:<%= Math.floor(Math.random() * 50) + 50 %>px;
  height:<%= Math.floor(Math.random() * 50) + 50 %>px;
  background-image: url(img/profiles/<%= picture %>);
  ">
</div>